:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.img-Skills {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.img-Perfil {
  width: 350px;
  height: 450px;
  border-radius: 25px;
}
@media(max-width: 500px){
  .img-Perfil{
    width: 250px;
    height: 350px;
  }
}

 /* perfil */
 .cloud-text {
	font-family: cursive;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(https://www.itl.cat/pngfile/big/29-291386_download-this-wallpaper-fondo-morado-con-estrellas.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: 0%;
	width: 80%;
	font-size: 100px;
	animation: clouds-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@media(max-width: 600px){
  .cloud-text{
    font-size: 80px;
  }
}
@media(max-width: 500px){
  .cloud-text{
    font-size: 50px;
  }
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}

.Glassmorphism {
  background: rgba(255, 255, 255, 0.122);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}